@model IEnumerable<CourseListViewModel>

@{
    ViewData["Title"] = "Courses";

}

<h1>Courses</h1>

<p class="offset-10">
    <a asp-action="Create" class="btn btn-success">Add Course</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
               
        @foreach (var item in Model)
        {
        <tr>

            <td>
                <div class="row">
                    <div class="col-4">
                        <div class="course-section ">
                            <p class="course-btn">

                                <a class="btn btn-primary courseBtn btn-block" data-toggle="collapse" href="#courseList-@item.Id" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>

                                <div class="course-btn-ed">
                                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </div>
                            </p>
                        </div>


                        <div class="col-4">
                            <div class="collapse multi-collapse" id="courseList-@item.Id">

                                <div class="">
                                    @foreach (var modules in item.Modules)
                                    {
                                        <div class="row">
                                            <div class="col-6">
                                                <dt class=" btn btn-secondary my-1 px-4 btn-block " >

                                                    @Html.DisplayFor(v => modules.Name)
                                                    @*@Html.DisplayFor(m => modules.StartDate) - @Html.DisplayFor(m => modules.EndDate)*@
                                                    @*<p>
                                        <a asp-area="" asp-controller="Modules" asp-action="Details2" asp-route-id="@modules.Id">See Module</a>
                                    </p>*@
                                                </dt>
                                            </div>
                                        </div>



                                    }


                                </div>

                            </div><!-- End collapse -->
                        </div><!-- End col -->
                        </div>
                        <div class="collapse multi-collapse col-8" id="courseList-@item.Id">

                            <div class="">

                                <p class="text-dark">Course Details</p>
                                <div class="partialViewWrapper">
                                    <partial name="DetailsPartial" model="@item.CourseDetails" />

                                </div>
                            </div>
                        </div>
                    </div>
                

            </td>
            
               
            

        </tr>
        }

    </tbody>
</table>