@model IEnumerable<CourseListViewModel>

    @{
    ViewData["Title"] = "Courses";
    }

    <h1>Courses</h1>

    <p class="offset-10">
        <a asp-action="Create" class="btn btn-success">Add Course</a>
    </p>
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>

                <td>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#courseList-@item.Id" role="button" aria-expanded="false" aria-controls="collapseExample">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>

                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="courseList-@item.Id">

                                <div class="card card-body">

                                    @*@foreach (var module in item.Modules)
                    {
                    @Html.DisplayFor(m => module.Name)
                    }*@
                                    <p class="text-black-50">Modules</p>


                                </div>

                            </div><!-- End collapse -->
                        </div><!-- End col -->
                        <div class="col">
                            <div class="collapse multi-collapse" id="courseList-@item.Id">

                                <div class="card card-body">

                                    <p class="text-black-50">Details</p>
                                   

                                </div>

                            </div><!-- End collapse -->
                        </div><!-- End col -->
                    </div>






                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id})
                </td>
            </tr>
}
            © 2020 - LMS.Web - Privacy
        </tbody>
    </table>
