@model IEnumerable<CourseListViewModel>

@{
    ViewData["Title"] = "Courses";

}

<h1>Courses</h1>

<p class="offset-10">
    <a asp-action="Create" class="btn btn-success">Add Course</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
         
        </tr>
    </thead>

    <tbody>
               
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @*<div class="row">
        <div class="col-4">*@
                    <div class="course-section ">
                        <p class="course-btn">

                            <a class="btn btn-primary courseBtn " data-toggle="collapse" href="#courseList-@item.Id" role="button" aria-expanded="false" aria-controls="collapseExample">
                                @Html.DisplayFor(modelItem => item.Name)
                            </a>

                            <div class="course-btn-ed">
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </p>
                    </div>

                    <div class="row">
                        <div class="col">
                            @*<div class="col-4">*@
                            <div @*class="collapse multi-collapse"*@ id="courseList-@item.Id">

                                <div class="card card-body">
                                    @foreach (var modules in item.Modules)
                                    {
                                        <dl class="row">
                                            <dt class=" col-sm-12 btn btn-secondary" data-toggle="collapse" href="#moduleList-@item.Modules" role="button" aria-expanded="false" aria-controls="collapseExample">

                                                @Html.DisplayFor(v => modules.Name)
                                                @*@Html.DisplayFor(m => modules.StartDate) - @Html.DisplayFor(m => modules.EndDate)*@
                                               
                                            </dt>

                                        </dl>
                                        <div @*class="collapse multi-collapse"*@ id="courseList-@modules.Id">
                                            
                                            <div class="card card-body">

                                                @foreach (var activities in modules.Activities)
                                                {
                                                    <dl class="row">
                                                        <dt class="col-sm-12 btn btn-info" data-toggle="collapse" href="#moduleList-@modules.Activities" aria-expanded="false" aria-controls="collapseExample">
                                                            
                                                            <a asp-area="" asp-controller="Activities" asp-action="Details" asp-route-id="@activities.Id">
                                                                @Html.DisplayFor(v => activities.Name)
                                                            </a>





                                                        </dt>

                                                    </dl>
                                                    //ADD HERE ADD NEW ACTIVITY
                                                }
                                            </div><!-- End collapse -->
                                        </div>
                                     

                                    }
                                    <div>
                                        <p id="createajax-@item.Id"></p>

                                        <p>
                                            <a asp-controller="Modules" asp-action="Create" asp-route-id="@item.Id" class="btn btn-info"
                                               data-ajax="true"
                                               data-ajax-method="GET"
                                               data-ajax-update="#createajax-@item.Id"
                                               data-ajax-mode="replace">
                                                Add new module
                                            </a>
                                        </p>
                                    </div>
                                    <div class="activity-create-btn">
                                        <p id="createActivity-@item.Id"></p>

                                        <p>
                                            <a asp-controller="Activities" asp-action="Create" asp-route-id="@item.Id" class="btn btn-info"
                                               data-ajax="true"
                                               data-ajax-method="GET"
                                               data-ajax-update="#createActivity-@item.Id"
                                               data-ajax-mode="replace">
                                                Add new Activity
                                            </a>
                                        </p>
                                    </div>
                                </div>

                            </div><!-- End collapse -->
                        </div><!-- End col -->
                        @*</div>*@
                        <div class="col">
                            <div @*class="collapse multi-collapse "*@ id="courseList-@item.Id">
                                <div class="card card-body">
                                    @*<div class="col">*@

                                    <p class="text-dark">Course Details</p>
                                    <partial name="DetailsPartial" model="@item.CourseDetails" />
                                </div>
                            </div>
                        </div>
                        @*</div>*@
                        @foreach (var modules in item.Modules)
                        {


                            <div class="col">
                                <div @*class="collapse multi-collapse"*@ id="courseList-@modules.Id" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    @*class="col-sm-12 btn btn-secondary" data-toggle="collapse" href="#moduleList-@item.Modules" role="button" aria-expanded="false" aria-controls="collapseExample"*@
                                    <div class="card card-body">
                                        <p class="text-dark">Module Details</p>
                                        <div class="col-12">

                                            <a asp-action="ModuleListMaterial" asp-controller="Documents" asp-route-id="@modules.Id" class="documentLink m-auto btn btn-primary text-light border border-dark clear float-right">Document</a>
                                        </div>
                                        @if (User.IsInRole("Teacher"))
                                        {
                                            <div class="col-12">

                                                <a asp-action="Create" asp-route-param2="Module" asp-controller="Documents" asp-route-param="@modules.Id" class=" float-right  m-auto fas fa-folder-plus ">Add Document</a><br /><br /><br />
                                            </div>
                                        }


                                        <p>
                                            Name: @modules.Name
                                        </p>
                                        <p>
                                            Description:  @modules.Description
                                        </p>

                                        <p>
                                            StartDate: @modules.StartDate
                                        </p>
                                        <p>
                                            EndDate: @modules.EndDate
                                        </p>
                                        <p>
                                            @*<a asp-area="" asp-controller="Modules" asp-action="Details2" asp-route-id="@modules.Id">See Module</a>*@
                                            <a asp-area="" asp-controller="Modules" asp-action="Edit" asp-route-id="@modules.Id">Edit</a>
                                            <a asp-area="" asp-controller="Modules" asp-action="Delete" asp-route-id="@modules.Id">Delete</a>
                                            @*<a asp-area="" asp-controller="Activities" asp-action="index" asp-route-id="@modules.Id">Activities</a>*@
                                        </p>



                                        @*<partial name="DetailsPartial" model="@item.ModuleDetails" />*@
                                    </div>
                                </div>
                            </div>
                        }

                        
                    </div>


                </td>




            </tr>
        }

    </tbody>
</table>