@model LMS.Core.ViewModels.CourseDetailsViewModel

@{
    ViewData["Title"] = "Course Details";
}



<div>
    <h4>Course Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    @foreach (var modules in Model.Modules)
    {
        <dl class="row">
            <dt class="col-sm-3">

                @Html.DisplayFor(v => modules.Name)

            </dt>
            
        </dl>

    }



</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="CourseList">Back to List</a>|

    <a asp-controller="Modules" asp-action="Create">Add new module</a>
</div>
