@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model StudentCourseViewModel

@{
    ViewData["Title"] = "UserCourse";
}

<style>
    .h5{
        font-size:smaller;
    }
</style>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name) : <h4> @Html.DisplayFor(model => model.Name) </h4>
                <h5>@Html.DisplayFor(model => model.StartDate) - @Html.DisplayFor(model => model.EndDate)</h5>
                <a asp-action="CourseListMaterial" asp-controller="Documents" asp-route-id="@Model.Id" class="documentLink m-auto btn btn-primary text-light border border-dark clear float-right">Document</a>
            </th>
            <th class="text-dark">@Html.DisplayFor(model => model.ApplicationUser.FullName)   </th>
            

                
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="">
                    <div class="">
                        @foreach (var item in Model.Modules)
                        {

                        <p>
                            <a class="btn btn-primary  w-100 p3" data-toggle="collapse" href="#studentCourse-@item.Id" role="button" aria-expanded="false" aria-controls="collapseExample">
                                @Html.DisplayFor(modelItem => item.Name) : @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)
                            </a>
                            

                                <a asp-action="CourseListMaterial" asp-controller="Documents" asp-route-id="@item.Id" class="documentLink m-auto btn btn-primary text-light border border-dark clear float-right">Document</a>
                            
                            
                        </p>
                            <div class="row">
                                <div class="">
                                    <div class="collapse multi-collapse" id="studentCourse-@item.Id">

                                        @foreach (var moduleName in item.Activities)
                                        {

                                        <div class="card card-body">
                                            <p class="text-black-50">Activity:</p>
                                            <h4> @Html.DisplayFor(m => moduleName.Name)</h4>

                                            @Html.DisplayFor(m => moduleName.StartTime) - @Html.DisplayFor(m => moduleName.EndTime)

                                            <p class="text-black-50">Description:</p>
                                            @Html.DisplayFor(m => moduleName.Description)
                                            <a asp-area="" asp-controller="Activities" asp-action="Details" asp-route-id="@moduleName.Id">See Activity</a>
                                            @*<div class="col-12">

                                                <a asp-action="ActivityListMaterial" asp-controller="Documents" asp-route-id="@moduleName.Id" class="documentLink m-auto btn btn-primary text-light border border-dark clear float-right">Document</a>
                                            </div>
                                           
                                                <div class="col-12">

                                                    <a asp-action="Create" asp-route-param2="Module" asp-controller="Documents" asp-route-param="@moduleName.Id" class=" float-right  m-auto fas fa-folder-plus ">Add Document</a><br /><br /><br />
                                                </div>*@
                                            
                                        </div>

                                            

                                        }


                                    </div><!-- End collapse -->
                                </div><!-- End col -->

                            </div>

                        }
                    </div>
                    <div class="">
                        <div class="card card-body w-100 p3">
                            <p class="text-black-50">CLASSMATES:</p>
                            @foreach (var student in Model.AttendingStudents)
                            {
                                @Html.DisplayFor(s => student.FullName) <br />
                            }

                        </div>
                    </div>
                </div>
            </td>
        </tr>

    </tbody>
</table>
