
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model TeacherCourseViewModel
@{
    ViewData["Title"] = "Details2";
}

<h1>Details</h1>




<style>
    .btn-primary {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
        width: 100%;
    }

    a.btn.btn-primary {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
        width: 100%;
    }
</style>
<table class="table">

    <tbody>
        @foreach (var item in Model.Modules)
        {
            <tr>

                <td>
                    @*<p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#studentCourse-@item.Id" role="button" aria-expanded="false" aria-controls="collapseExample">
                            @Html.DisplayFor(modelItem => item.Name) : @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)
                        </a>

                    </p>*@
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="studentCourse-@item.Id">



                                @foreach (var moduleName in item.Activities)
                                {

                                    <div class="card card-body">
                                        <p class="text-black-50">Activity:</p>
                                        @Html.DisplayFor(m => moduleName.Name) ||

                                        <br />
                                        @Html.DisplayFor(m => moduleName.StartTime) - @Html.DisplayFor(m => moduleName.EndTime)

                                    </div>
                                    <br />

                                }


                            </div><!-- End collapse -->
                        </div><!-- End col -->
                        <div class="col">
                            <div class="collapse multi-collapse" id="studentCourse-@item.Id">



                                @foreach (var moduleName in item.Activities)
                                {
                                    <div class="card card-body">
                                        <p class="text-black-50">Description:</p>
                                        @Html.DisplayFor(m => moduleName.Description)

                                    </div>

                                    <br />

                                }




                            </div><!-- End collapse -->
                        </div><!-- End col -->
                    </div>


                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>*@
            </tr>
        }
    </tbody>
</table>






<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
